body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.header {
    width: 100%;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.nav-list,
.nav-logo {
    display: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    font-size: 14px;
    margin-left: 10px;
}

.nav-burger {
    background-color: #202529;
}

.main-title,
.main-text,
.fa-bars {
    color: #fff;
}

.main-link {
    color: #a6d6e0;
    display: block;
}

.categories-desserts,
.categories-delivery,
.categories-salads {
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.price-discr {
    color: #3f4043;
    font-weight: 400;
    text-transform: uppercase;
}

.price-text {
    color: #cbcdce;
}

.price-mauris-title {
    background-color: #3f4043;
    color: #acd9ad;
    text-transform: uppercase;
}

.price-mauris-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: #3f4043;
}

.price-mauris-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #3f4043;
}

.price-et-title {
    background-color: #acd8ad;
    color: #fff;
    text-transform: uppercase;
}

.price-et-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: #3f4043;
}

.footer {
    background-color: #acd8ad;
    color: #fff;
}

.footer-logo {
    display: none;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 390px) {
    .logo {
        font-size: 0.75em;
        font-weight: 500;
        padding-left: 1.46em;
    }

    .nav-list {
        display: none;
        list-style-type: none;
        position: absolute;
        top: 2.375em;
        right: 0;
        background-color: #fafafa;
        width: 11.375em;
    }

    .nav-list li {
        border-bottom: 0.063em solid #f4f4f4;
        border-top: 0.063em solid #f4f4f4;
    }

    .nav-item {
        font-size: 0.75em;
        font-weight: 400;
        margin-left: 1.1em;
        text-transform: capitalize;
        color: #444444;
        font-family: 'Lato', sans-serif;
        display: block;
        padding-top: 0.625em;
        padding-bottom: 0.8em;
    }

    .nav-item:hover {
        background-color: #f5f5f5;
    }

    .nav-burger {
        width: 2.563em;
        height: 2.313em;
        background-color: #202529;
    }

    .burger-icon {
        padding-top: 0.5em;
        padding-left: 0.6em;
        font-size: 1.3em;
        color: #fff;
    }


    .main {
        background: url(../img/img-320/header-fon.png) no-repeat center;
        background-size: cover;
        padding-left: 1.19em
    }

    .main-title,
    .main-text {
        font-size: 1em;
        font-weight: 700;
    }

    .main-title {
        padding: 1em 0 0.313em 0;
    }

    .main-link {
        font-size: 0.875em;
        font-weight: 700;
        padding-top: 0.63em;
        padding-bottom: 6.68em;
    }

    .categories-flex {
        display: flex;
        align-items: stretch;
        height: 4.688em;
        width: 100%;
        margin-top: 0.1em;
        overflow: hidden;
    }
    .categories-desserts,
    .categories-delivery,
    .categories-salads {
        font-size: 1.25em;
        width: 15.938em;
        text-align: center;
        padding-top: 1.2em;
    }

    .categories-delivery {
        background: url(../img/img-320/delivery.png) no-repeat center;
        background-size: cover;
    }

    .categories-salads {
        background: url(../img/img-320/salads.png) no-repeat center;
        background-size: cover;
    }

    .categories-desserts {
        background: url(../img/img-320/desserts.png) no-repeat center;
        background-size: cover;
    }

    .categories-arrow {
        background-color: #acd8ad;
        flex: none;
        width: 4.438em;
    }

    .arrow {
        color: #fff;
        font-size: 1em;
        padding-top: 1.7em;
        padding-left: 1.8em;
    }

    .price-discr {
        font-size: 1.254em;
        padding: 1.1em 0 0 0.375em;
    }

    .price-text {
        font-size: 0.627em;
        padding: 0.25em 0 0 0.8em;
    }

    .price-logo {
        display: none;
    }

    .price-mauris {
        margin-top: 0.625em;
    }

    .price-mauris-title {
        height: 1.7em;

        font-size: 1.254em;
        padding-top: 0.2em;
        padding-left: 1em;
    }

    .price-mauris-id {
        padding: 0.8em 1em 0.8em 1.2em;
        font-size: 0.941em;
    }

    .price-bg-menu {
        background: url(../img/img-320/menu.png) no-repeat center;
        width: 25px;
        height: 25px;
    }

    .price-bg-bokal {
        background: url(../img/img-320/bokal.png) no-repeat center;
        width: 13px;
        height: 24px;
        margin-right: 0.5em;
    }

    .price-bg-tea {
        background: url(../img/img-320/tea.png) no-repeat center;
        width: 30px;
        height: 21px;
    }

    .price-bg-beer {
        background: url(../img/img-320/beer.png) no-repeat center;
        width: 30px;
        height: 21px;
    }

    .id-two {
        padding: 1em 1em 0.9em 1.2em;
    }


    .price-mauris-one {
        padding: 0.2em 1.3em 0.6em 1.3em;
        font-size: 0.847em;
    }

    .price-mauris-disc {
        padding: 0 2em 0.4em;
        font-size: 0.549em;
    }

    .price-et {
        margin-top: 1.8em;
    }

    .price-et-title {
        height: 1.7em;
        font-size: 1.254em;
        padding: 0.3em 0 0 0.9em;
    }

    .price-et-id {
        padding: 1.1em 1.1em 0.7em 1.1em;
        font-size: 0.941em;
    }

    .footer {
        margin-top: 3em;
        height: 3.438em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        display: none;
    }

    .footer-text {
        font-size: 0.75em;
    }
}

@media (min-width: 391px) and (max-width: 640px) {
    .header {
        height: 4.625em;
    }

    .logo {
        font-size: 24px;
        padding-left: 38px;
    }

    .nav-list {
        display: none;
        list-style-type: none;
        position: absolute;
        top: 4.7em;
        right: 0;
        background-color: #fafafa;
        width: 15.188em;
    }

    .nav-list li {
        border-bottom: 0.063em solid #f4f4f4;
        border-top: 0.063em solid #f4f4f4;
    }

    .nav-item {
        font-size: 0.875em;
        font-weight: 400;
        margin-left: 1.875em;
        text-transform: capitalize;
        color: #444444;
        font-family: 'Lato', sans-serif;
        display: block;
        padding-top: 1.188em;
        padding-bottom: 0.8em;
    }

    .nav-item:hover {
        background-color: #f5f5f5;
    }

    .nav-burger {
        width: 82px;
        height: 74px;
    }

    .burger-icon {
        padding-top: 0.8em;
        padding-left: 1em;
        font-size: 1.8em;
        color: #fff;
    }

    .main {
        background: url(../img/img-640/header-fon.png) no-repeat center;
        background-size: cover;
        height: 21.625em;
        padding-left: 2.2em;
        margin-bottom: 0.1em;
    }

    .main-title,
    .main-text {
        font-size: 2.25em;
    }

    .main-title {
        padding-top: 0.7em;
    }

    .main-link {
        font-size: 1.5em;
        padding-top: 0.7em;
    }

    .categories-flex {
        display: flex;
        height: 6.375em;
        width: 100%;
        margin-top: 0.1em;
        overflow: hidden;
    }

    .categories-desserts,
    .categories-delivery,
    .categories-salads {
        font-size: 2.25em;
        width: 31.063em;
        text-align: center;
        padding-top: 0.9em;
    }

    .categories-delivery {
        background: url(../img/img-640/delivery.png) no-repeat center;
        background-size: cover;
    }

    .categories-salads {
        background: url(../img/img-640/salads.png) no-repeat center;
        background-size: cover;
    }

    .categories-desserts {
        background: url(../img/img-640/desserts.png) no-repeat center;
        background-size: cover;
    }

    .categories-arrow {
        background-color: #acd8ad;
        flex: none;
        width: 8.75em;
    }

    .arrow {
        color: #fff;
        font-size: 2em;
        padding-top: 1.2em;
        padding-left: 1.8em;
    }

    .price-discr {
        font-size: 1.4em;;
        padding: 1em 0 0 0.5em;
        letter-spacing: 1.5px
    }

    .price-text {
        font-size: 1em;
        padding: 0.3em 0 0 0.95em;
    }

    .price-logo {
        display: none;
    }

    .price-mauris,
    .price-et {
        margin-top: 1.2em;
    }

    .price-mauris-title,
    .price-et-title {
        height: 1.8em;
        font-size: 2em;
        padding: 0.3em 0 0 0.9em;
    }

    .price-mauris-id,
    .price-et-id {
        padding: 0.8em 1.2em 1.1em;
        font-size: 1.3em;
        letter-spacing: 0.8px;
    }

    .price-bg-menu {
        background: url(../img/img-320/menu.png) no-repeat center;
        width: 30px;
        height: 30px;
    }

    .price-bg-bokal {
        background: url(../img/img-320/bokal.png) no-repeat center;
        width: 15px;
        height: 28px;
        margin-right: 0.5em;
    }

    .price-bg-tea {
        background: url(../img/img-320/tea.png) no-repeat center;
        width: 33px;
        height: 25px;
    }

    .price-bg-beer {
        background: url(../img/img-320/beer.png) no-repeat center;
        width: 30px;
        height: 21px;
    }

    .price-mauris640 {
        padding: 0.45em 1.5em 1.1em 1.2em;
    }

    .price-et640 {
        margin-top: 1.58em;

    }

    .price-mauris-one {
        padding: 0em 1.3em;
        font-size: 1.3em;
    }

    .price-mauris-disc {
        padding: 0.76em 2.2em 0.9em;
        font-size: 0.8em;
    }

    .footer {
        margin-top: 3.45em;
        height: 6em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        display: none;
    }

    .footer-text {
        font-size: 0.8em;
    }

}

@media (min-width: 641px) and (max-width: 793px) {
    .header {
        height: 4.625em;
    }

    .logo {
        font-size: 24px;
        padding-left: 38px;
    }

    .nav-list {
        display: none;
        list-style-type: none;
        position: absolute;
        top: 4.7em;
        right: 0;
        background-color: #fafafa;
        width: 15.188em;
    }

    .nav-list li {
        border-bottom: 0.063em solid #f4f4f4;
        border-top: 0.063em solid #f4f4f4;
    }

    .nav-item {
        font-size: 0.875em;
        font-weight: 400;
        margin-left: 1.875em;
        text-transform: capitalize;
        color: #444444;
        font-family: 'Lato', sans-serif;
        display: block;
        padding-top: 1.188em;
        padding-bottom: 0.8em;
    }

    .nav-item:hover {
        background-color: #f5f5f5;
    }

    .nav-burger {
        width: 82px;
        height: 74px;
    }

    .burger-icon {
        padding-top: 0.8em;
        padding-left: 1em;
        font-size: 1.8em;
        color: #fff;
    }

    .main {
        background: url(../img/img-640/header-fon.png) no-repeat center;
        background-size: cover;
        height: 21.625em;
        padding-left: 2.2em;
        margin-bottom: 0.3em;
    }

    .main-title,
    .main-text {
        font-size: 2.25em;
    }

    .main-title {
        padding-top: 0.7em;
    }

    .main-link {
        font-size: 1.5em;
        padding-top: 0.7em;
    }

    .categories-flex {
        display: flex;
        height: 9.375em;
        width: 100%;
        margin-top: 0.1em;
        overflow: hidden;
    }

    .categories-desserts,
    .categories-delivery,
    .categories-salads {
        font-size: 2.25em;
        width: 31.063em;
        text-align: center;
        padding-top: 1.5em;
    }

    .categories-delivery {
        background: url(../img/img-640/delivery.png) no-repeat center;
        background-size: cover;
    }

    .categories-salads {
        background: url(../img/img-640/salads.png) no-repeat center;
        background-size: cover;
    }

    .categories-desserts {
        background: url(../img/img-640/desserts.png) no-repeat center;
        background-size: cover;
    }

    .categories-arrow {
        background-color: #acd8ad;
        flex: none;
        width: 8.75em;
    }

    .arrow {
        color: #fff;
        font-size: 2em;
        padding-top: 1.8em;
        padding-left: 1.8em;
    }

    .price-discr {
        font-size: 2.35em;
        padding: 1em 0 0 0.5em;
        letter-spacing: 1.5px
    }

    .price-text {
        font-size: 1.25em;
        padding: 0.3em 0 0 0.95em;
    }

    .price-logo {
        display: none;
    }

    .price-mauris,
    .price-et {
        margin-top: 1.2em;
    }

    .price-mauris-title,
    .price-et-title {
        height: 1.8em;
        font-size: 2.5em;
        padding: 0.3em 0 0 0.9em;
    }

    .price-mauris-id,
    .price-et-id {
        padding: 0.8em 1.2em 1.1em;
        font-size: 1.8em;
        letter-spacing: 0.8px;
    }

    .price-bg-menu {
        background: url(../img/img-640/menu.png) no-repeat center;
        width: 49px;
        height: 48px;
    }

    .price-bg-bokal {
        background: url(../img/img-640/bokal.png) no-repeat center;
        width: 27px;
        height: 48px;
        margin-right: 0.5em;
    }

    .price-bg-tea {
        background: url(../img/img-640/tea.png) no-repeat center;
        width: 61px;
        height: 42px;
    }

    .price-bg-beer {
        background: url(../img/img-640/beer.png) no-repeat center;
        width: 43px;
        height: 42px;
    }

    .price-mauris640 {
        padding: 0.45em 1.5em 1.1em 1.2em;
    }

    .price-et640 {
        margin-top: 1.58em;

    }

    .price-mauris-one {
        padding: 0em 1.3em;
        font-size: 1.7em;
    }

    .price-mauris-disc {
        padding: 0.76em 2.2em 0.9em;
        font-size: 1.1em;
    }

    .footer {
        margin-top: 6.45em;
        height: 6em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        display: none;
    }

    .footer-text {
        font-size: 1.125em;
    }

}

@media (min-width: 794px) and (max-width: 980px) {
    .nav-list {
        display: flex;
    }

    .header {
        height: 6.063em;
    }

    .logo,
    .nav-burger {
        display: none;
    }

    .nav-logo {
        display: block;
        padding-right: 1.875em;
    }

    .nav-item {
        color: #ececec;
        font-size: 0.938em;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 2em;
    }

    .main {
        background: url(../img/img-980/header-fon.png) no-repeat center;
        background-size: cover;
        padding-left: 1.8em;
        height: 33.125em
    }

    .main-title,
    .main-text {
        font-size: 3.375em;
    }

    .main-title {
        padding-top: 1em;
    }

    .main-link {
        font-size: 2.375em;
        font-weight: 700;
        padding-top: 1.25em;
    }

    .categories {
        display: flex;
        width: 100%;
        height: 20.438em;
        margin-top: 0.2em;
    }

    .categories-flex {
        width: 33.3%;
    }

    .categories-desserts,
    .categories-delivery,
    .categories-salads {
        font-size: 2.375em;
        text-align: center;
        padding-top: 3.7em;
        height: 100%;
    }

    .categories-delivery {
        background: url(../img/img-980/delivery.png) no-repeat center;
        background-size: cover;
    }

    .categories-salads {
        background: url(../img/img-980/salads.png) no-repeat center;
        background-size: cover;
    }

    .categories-desserts {
        background: url(../img/img-980/desserts.png) no-repeat center;
        background-size: cover;
    }

    .categories-arrow,
    .arrow {
        display: none;
    }

    .price-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 2em 0.5em 0 1.3em;
    }

    .price-discr {
        font-size: 2.125em;
    }

    .price-text {
        font-size: 1.25em;
    }

    .price-logo {
        display: block;
        padding-right: 1.5em;
    }

    .price-mauris,
    .price-et {
        margin-top: 0.6em;
        width: 50%;
    }

    .price-mauris-title,
    .price-et-title {
        height: 2.2em;
        font-size: 2.125em;
        padding: 0.6em 0 0 0.4em;
    }

    .price-mauris-id,
    .price-et-id {
        padding: 1em 0.625em 0.75em;
        font-size: 1.625em;
    }

    .price-bg-menu {
        background: url(../img/img-980/menu.png) no-repeat center;
        width: 42px;
        height: 42px;
    }

    .price-bg-bokal {
        background: url(../img/img-980/bokal.png) no-repeat center;
        width: 25px;
        height: 44px;
        margin-right: 0.5em;
    }

    .price-bg-tea {
        background: url(../img/img-980/tea.png) no-repeat center;
        width: 56px;
        height: 39px;
    }

    .price-bg-beer {
        background: url(../img/img-980/beer.png) no-repeat center;
        width: 40px;
        height: 49px;
    }

    .price-mauris-one {
        padding: 0.6em 0.625em 0.5em;
        font-size: 1.4em;
    }

    .price-mauris-disc {
        padding: 0 0.625em 1em;
        font-size: 1em;
    }

    .price-wrapper {
        display: flex;
    }

    .footer {
        margin-top: 3.8em;
        height: 6em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .footer-logo {
        display: block;
        padding-left: 1.8em;
    }

    .footer-text {
        display: flex;
        padding-right: 1.875em;
        font-size: 1.125em;
    }
}

@media (min-width: 981px) {
    .nav {
        display: block;
    }

    .header {
        height: 6.063em;
    }

    .logo,
    .nav-burger {
        display: none;
    }

    .nav-logo {
        display: block;
        padding-right: 2.375em;
    }

    .nav-item {
        color: #ececec;
        font-size: 0.938em;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 2em;
    }

    .main {
        background: url(../img/img-1200/header-fon.png) no-repeat center;
        background-size: cover;
        padding-left: 2.3em;
        height: 40.563em;
    }

    .main-title,
    .main-text {
        font-size: 3.875em;
    }

    .main-title {
        padding-top: 0.75em;
    }

    .main-link {
        font-size: 2.375em;
        font-weight: 700;
        padding-top: 1.25em;
    }

    .categories {
        display: flex;
        width: 100%;
        height: 25em;
        margin-top: 0.2em;
    }

    .categories-flex {
        width: 33.3%;
    }

    .categories-desserts,
    .categories-delivery,
    .categories-salads {
        font-size: 2.688em;
        text-align: center;
        padding-top: 4em;
        height: 100%;
    }

    .categories-delivery {
        background: url(../img/img-1200/delivery.png) no-repeat center;
        background-size: cover;
    }

    .categories-salads {
        background: url(../img/img-1200/salads.png) no-repeat center;
        background-size: cover;
    }

    .categories-desserts {
        background: url(../img/img-1200/desserts.png) no-repeat center;
        background-size: cover;
    }

    .categories-arrow,
    .arrow {
        display: none;
    }

    .price-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 3.6em 0 1em 1em;
    }

    .price-discr {
        font-size: 2.5em;
    }

    .price-text {
        font-size: 1.25em;
    }

    .price-logo {
        display: block;
        padding-right: 1em;
    }

    .price-mauris,
    .price-et {
        width: 50%;
    }

    .price-mauris-title,
    .price-et-title {
        height: 1.8em;
        font-size: 2.5em;
        padding: 0.2em 0 0 0.4em;
    }

    .price-mauris-id,
    .price-et-id {
        padding: 0.8em 0.625em 0.75em 0.8em;
        font-size: 1.625em;
    }

    .price-mauris-one {
        padding: 0.5em 0.625em 0.7em 0.9em;
        font-size: 1.4em;
    }

    .price-bg-menu {
        background: url(../img/img-1200/menu.png) no-repeat center;
        width: 49px;
        height: 48px;
    }

    .price-bg-bokal {
        background: url(../img/img-1200/bokal.png) no-repeat center;
        width: 27px;
        height: 48px;
        margin-right: 0.5em;
    }

    .price-bg-tea {
        background: url(../img/img-1200/tea.png) no-repeat center;
        width: 61px;
        height: 42px;
    }

    .price-bg-beer {
        background: url(../img/img-1200/beer.png) no-repeat center;
        width: 43px;
        height: 42px;
    }

    .price-mauris-disc {
        padding: 0 0 0.8em 1.3em;
        font-size: 1em;
    }

    .price-wrapper {
        display: flex;
    }

    .footer {
        margin-top: 7.25em;
        height: 6.25em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .footer-logo {
        display: block;
        padding-left: 2em;
    }

    .footer-text {
        display: flex;
        padding-right: 1.875em;
        font-size: 1.125em;
    }
}